/* body {
    overflow-x: scroll;
} */
.shell {
    max-width: 1070px;
    margin: 0 auto;
}
*{
    font-family: abel;
    scroll-behavior: smooth;
}

.yellow-text {
    color:#ffdb00;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}

.center {
    position: absolute;
    margin: 0 auto;
}

.content-title {
    font-size: 50px;
    letter-spacing: 4px;
    line-height: 96px;
    color: #ffdb00;
}

.content-text {
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 25px;
}

@media only screen and (max-width: 550px) {
    .content-title {
        text-align: center;
    }
    .content-text {
        text-align: center;
    }
}